{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "dev-expression",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "transform-export-default",
    ["@babel/transform-runtime", { "useESModules": true }]
  ]
}
